{% extends "base.html" %}
{% load static %}

{% block 'dashboard'%}

  <h2>Criar Curso</h2> 
  <hr>
  {% if status == '1' %}
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading"></h4>
      <p>Salvo com Sucesso</p>
      <p class="mb-0"></p>
    </div>
  {% endif %}

    <form action="{% url 'criar_curso'%}" method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
          <label for="">Nome do curso</label>
          <input type="text"
            class="form-control" name="nome_curso" id="" aria-describedby="helpId" placeholder="">
        </div>

        <div class="mb-3">
            <label for="">Carga horaria</label>
            <input type="number"
              class="form-control" name="carga_horaria" id="" aria-describedby="helpId" placeholder="">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>    
    </form>

{% endblock %}
