{% extends "base.html" %}
{% load static %}

{% block 'dashboard'%}

  <h2>Listar Cursos</h2> 

        <form class="input-group" action="{% url 'listar_cursos' %}" >
          <div class="form-outline" >
            <input type="search" name="nome_filtrar" class="form-control" />
            <label class="form-label" for="form1">Burcar Curso</label>
          </div>
          <button type="input" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </form>


        <hr>
        <table class="table  table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Carga Horária</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody>
          {% for curso in cursos %}
          <tr>
            <td scope="row">{{curso.nome}}</td>
            <td>{{curso.carga_horaria}}</td>
            <td> 
              <a name="" id="" class="btn btn-info" href="{% url 'acessar_curso' curso.id %}" role="button">Acessar</a>
              <a name="" id="" class="btn btn-warning" href="{% url 'desativar_curso' curso.id %}" role="button"> Editar</a>
              <a name="" id="" class="btn btn-danger" href="{% url 'deletar_curso' curso.id %}" role="button"> Deletar</a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>


{% endblock %}
